# Winning Jeopardy

Jeopardy is a popular TV show in the US where participants answer questions to win money. It's been running for a few decades, and is a major force in popular culture. Let's say you want to compete on Jeopardy, and you're looking for any edge you can get to win. In this project, I'll work with a dataset of Jeopardy questions to figure out some patterns in the questions that could help you win.

The dataset is named jeopardy.csv, and contains 20000 rows from the beginning of a full dataset of Jeopardy questions, which you can download here: https://www.reddit.com/r/datasets/comments/1uyd0t/200000_jeopardy_questions_in_a_json_file.

In [75]:
import pandas as pd
import re 
import random
from scipy.stats import chisquare
import numpy as np

In [3]:
jeopardy = pd.read_csv('jeopardy.csv')
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [4]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [5]:
#Remove spaces in front of columns
jeopardy.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

## Clean and prepare the dataset

In [17]:
#Write a function to normalize questions and answers
def normalizer(words):
    punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    words = words.lower()
    for ele in words:  
        if ele in punc:  
            words = words.replace(ele, "")  
    return words
        
#Normalize the Question column    
jeopardy['clean_question'] = jeopardy['Question'].apply(normalizer)

#Normalize the Answer column    
jeopardy['clean_answer'] = jeopardy['Answer'].apply(normalizer)

In [20]:
#Write a function to normalize dollar values
def dollar_normalizer(numbers):
    punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    for ele in numbers:  
        if ele in punc:  
            numbers = numbers.replace(ele, "") 
    try:
        numbers = int(numbers)
    except:
        numbers = int(0)
    return numbers

#Normalize the Value column
jeopardy['clean_value'] = jeopardy['Value'].apply(dollar_normalizer)

In [22]:
#Use the pandas.to_datetime function to convert the Air Date column to a datetime column.
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'])

## What to examine

In order to figure out whether to study past questions, study general knowledge, or not study it all, it would be helpful to figure out two things:

- How often the answer is deducible from the question.
- How often new questions are repeats of older questions.

We can answer the second question by seeing how often complex words (> 6 characters) reoccur. We can answer the first question by seeing how many times words in the answer also occur in the question. We'll work on the first question now, and come back to the second.

### Question 1: How many times words in the answer also occur in the question

In [26]:
def repeat_counter(row):
    split_answer = row['clean_answer'].split()
    split_question = row['clean_question'].split()
    match_count = 0
    if "the" in split_answer: #The is commonly found in answers and questions, but doesn't have any meaningful use in finding the answer.
        split_answer.remove("the")
    if len(split_answer) == 0:
        return 0
    else:
        for item in split_answer:
            if (item in split_question):
                match_count += 1
        return match_count/len(split_answer)
    
#Count how many times terms in clean_answer occur in clean_question
jeopardy["answer_in_question"] = jeopardy.apply(repeat_counter, axis=1)

In [41]:
#Find the mean of the answer_in_question column using the mean method on Series.
print('The mean is {0}%'.format(round(jeopardy["answer_in_question"].mean()*100),0))
print('So on average, the answer only makes up for about 6% of the question. This isn\'t a huge number, and means that we probably can\'t just hope that hearing a question will enable us to figure out the answer. We\'ll probably have to study.')

The mean is 6.0%
So on average, the answer only makes up for about 6% of the question. This isn't a huge number, and means that we probably can't just hope that hearing a question will enable us to figure out the answer. We'll probably have to study.

### Question 2: How often new questions are repeats of older questions.

We can't completely answer this, because we only have about 10% of the full Jeopardy question dataset, but we can investigate it at least.

In [48]:
jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question,question_overlap
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.000000,0.000000
19305,10,1984-09-21,Double Jeopardy!,HOMONYMS,$200,Hindu hierarchy or a play's actors,a caste (cast),hindu hierarchy or a plays actors,a caste cast,200,0.333333,0.000000
19306,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$200,"Last season, this series mourned the loss of S...",Hill Street Blues,last season this series mourned the loss of sg...,hill street blues,200,0.000000,0.000000
19307,10,1984-09-21,Double Jeopardy!,1789,$400,Why April 28th was a bad day for Capt. Bligh,the day of the mutiny on the Bounty,why april 28th was a bad day for capt bligh,the day of the mutiny on the bounty,400,0.142857,0.000000
19312,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$600,"Since '27, stars have made good impressions at...",Mann's Chinese Theatre,since 27 stars have made good impressions at t...,manns chinese theatre,600,0.000000,0.000000
19299,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$500,Sensitive Mart Crowley treatment of gays march...,The Boys in the Band,sensitive mart crowley treatment of gays march...,the boys in the band,500,0.000000,0.000000
19274,10,1984-09-21,Jeopardy!,GEOGRAPHY,$100,Formerly Formosa,Taiwan,formerly formosa,taiwan,100,0.000000,0.000000
19275,10,1984-09-21,Jeopardy!,DOUBLE TALK,$100,"Not a Hawaiian cow, but a dress worn by Hawaii...",a muumuu,not a hawaiian cow but a dress worn by hawaiia...,a muumuu,100,0.500000,0.090909
19281,10,1984-09-21,Jeopardy!,DOUBLE TALK,$200,Affirmative reply to an admiral's command,aye-aye,affirmative reply to an admirals command,ayeaye,200,0.000000,0.000000
19282,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$200,"Between him & his wife, they licked the platte...",Jack Spratt,between him his wife they licked the platter ...,jack spratt,200,0.000000,0.000000
19283,10,1984-09-21,Jeopardy!,SHIPS,$200,Merchant ship that made the trip in 1620 from ...,the Mayflower,merchant ship that made the trip in 1620 from ...,the mayflower,200,0.000000,0.000000
19284,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$200,Burt Lancaster film in which his only friends ...,The Birdman of Alcatraz,burt lancaster film in which his only friends ...,the birdman of alcatraz,200,0.000000,0.000000
19276,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$100,He celebrated his 39th birthday 41 times,Jack Benny,he celebrated his 39th birthday 41 times,jack benny,100,0.000000,0.000000
19287,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$300,"He didn't find gold in the Klondike, so he wro...",Jack London,he didnt find gold in the klondike so he wrote...,jack london,300,0.000000,0.000000
19296,10,1984-09-21,Jeopardy!,DOUBLE TALK,$500,British rockers whose name came from villain i...,Duran Duran,british rockers whose name came from villain i...,duran duran,500,0.000000,0.000000
19295,10,1984-09-21,Jeopardy!,GEOGRAPHY,$500,About 1/3 of Africa's Pygmy population lives i...,Zaire,about 13 of africas pygmy population lives in ...,zaire,500,0.000000,0.000000
19294,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$400,This title describes Carroll Baker's thumb-suc...,Baby Doll,this title describes carroll bakers thumbsucki...,baby doll,400,0.000000,0.000000
19298,10,1984-09-21,Jeopardy!,SHIPS,$500,"At some 500' long & with 9 masts, the ""Cheng H...",a junk,at some 500 long with 9 masts the cheng ho wa...,a junk,500,0.000000,0.000000
19292,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$400,"His nickname was the ""Manassa Mauler""",Jack Dempsey,his nickname was the manassa mauler,jack dempsey,400,0.000000,0.000000
19291,10,1984-09-21,Jeopardy!,DOUBLE TALK,$400,Washington's panda with pregnancy problems,Ling-Ling,washingtons panda with pregnancy problems,lingling,400,0.000000,0.000000
19290,10,1984-09-21,Jeopardy!,GEOGRAPHY,$400,First colony since 1776 to break from Britain ...,Rhodesia,first colony since 1776 to break from britain ...,rhodesia,400,0.000000,0.000000
19289,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$300,Poignant movie in which Peter Sellers turned o...,Being There,poignant movie in which peter sellers turned o...,being there,300,0.000000,0.000000
19288,10,1984-09-21,Jeopardy!,SHIPS,$300,"He entertained world leaders on his yacht ""Chr...",(Aristotle) Onassis,he entertained world leaders on his yacht chri...,aristotle onassis,300,0.000000,0.000000
19293,10,1984-09-21,Jeopardy!,SHIPS,$400,Royal neighbor of the Spruce Goose,the Queen Mary,royal neighbor of the spruce goose,the queen mary,400,0.000000,0.000000
19297,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$500,"2nd generation pop singer, he's sung on every ...",Jack Jones,2nd generation pop singer hes sung on every lo...,jack jones,500,0.000000,0.000000
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.000000,0.000000
19277,10,1984-09-21,Jeopardy!,SHIPS,$100,"""Unsinkable"" for most of its maiden voyage in ...",the Titanic,unsinkable for most of its maiden voyage in 1912,the titanic,100,0.000000,0.000000
19300,10,1984-09-21,Jeopardy!,SPORTS,$500,"Boxer whose life was portrayed in ""Somebody Up...",Rocky Graziano,boxer whose life was portrayed in somebody up ...,rocky graziano,500,0.000000,0.000000
19278,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$100,"In '61 movie, Audrey Hepburn's alternative to ...",Breakfast at Tiffany's,in 61 movie audrey hepburns alternative to bru...,breakfast at tiffanys,100,0.000000,0.000000
19279,10,1984-09-21,Jeopardy!,SPORTS,$100,What Gary Player plays professionailly,golf,what gary player plays professionailly,golf,100,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1972,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$2000,Mary McDonnell as Laura Roslin,Battlestar Galactica,mary mcdonnell as laura roslin,battlestar galactica,2000,0.000000,0.000000
1942,6294,2012-01-19,Jeopardy!,INLETS,$1000,North Carolina's Albemarle Sound is no deeper ...,the Outer Banks,north carolinas albemarle sound is no deeper t...,the outer banks,1000,0.000000,0.157895
1920,6294,2012-01-19,Jeopardy!,FOREIGN,$200,"In Portuguese, domingo is this day of the week",Sunday,in portuguese domingo is this day of the week,sunday,200,0.000000,0.222222
1931,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$600,"This singer of ""Jack & Diane"" had to fight to ...",John Mellencamp,this singer of jack diane had to fight to rec...,john mellencamp,600,0.000000,0.000000
1923,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$400,"""I had a little hobby-horse and it was dapple ...",hay,i had a little hobbyhorse and it was dapple gr...,hay,400,0.000000,0.000000
1933,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",$800,"Completes the opening sentence ""Now is the win...",York,completes the opening sentence now is the wint...,york,800,0.000000,0.222222
1924,6294,2012-01-19,Jeopardy!,INLETS,$400,Big ships must pass through Admiralty Inlet to...,Puget Sound,big ships must pass through admiralty inlet to...,puget sound,400,0.500000,0.200000
1973,6294,2012-01-19,Double Jeopardy!,4 N,$2000,"Inopportune or untimely, like the title ""woman...",inconvenient,inopportune or untimely like the title woman i...,inconvenient,2000,0.000000,0.083333
1926,6294,2012-01-19,Jeopardy!,FOREIGN,$400,"In French, l'oiseau is this; it sports les plumes",a bird,in french loiseau is this it sports les plumes,a bird,400,0.000000,0.000000
1929,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$600,"In a counting nursery rhyme, they were ""a-cour...",maids,in a counting nursery rhyme they were acourtin...,maids,600,0.000000,0.250000
1930,6294,2012-01-19,Jeopardy!,INLETS,"$1,000",Faxa Bay in the North Atlantic is between this...,Iceland,faxa bay in the north atlantic is between this...,iceland,1000,0.000000,0.307692
1927,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",$600,"The chorus of ""Romeo & Juliet"" tells us it's i...",Verona,the chorus of romeo juliet tells us its in th...,verona,600,0.000000,0.000000
1928,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$600,An Italian clothier is known as the United Col...,Benetton,an italian clothier is known as the united col...,benetton,600,0.000000,0.090909
1955,6294,2012-01-19,Double Jeopardy!,4 N,$800,"""U"" know it means not deliberate; I'm sorry, t...",unintentional,u know it means not deliberate im sorry that s...,unintentional,800,0.000000,0.125000
1943,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$1000,"In the 2000s ""Makes Me Wonder"" got this group ...",Maroon 5,in the 2000s makes me wonder got this group no...,maroon 5,1000,0.000000,0.100000
1925,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$400,"1974's ""Mandy"" was his first Top 40 hit--& it ...",Barry Manilow,1974s mandy was his first top 40 hit it reache...,barry manilow,400,0.000000,0.090909
1964,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$1600,It was the alphanumeric designation of the U.S...,the M1,it was the alphanumeric designation of the us ...,the m1,1600,0.000000,0.181818
1965,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$1600,"(<a href=""http://www.j-archive.com/media/2012-...",arthropod,a href=httpwwwjarchivecommedia20120119dj27jpg ...,arthropod,1600,0.000000,0.090909
1966,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$1600,"On Fox, Patricia Wettig as Caroline Reynolds",Prison Break,on fox patricia wettig as caroline reynolds,prison break,1600,0.000000,0.428571
1967,6294,2012-01-19,Double Jeopardy!,4 N,$1600,Adjective preceding the railroad completed in ...,transcontinental,adjective preceding the railroad completed in ...,transcontinental,1600,0.000000,0.571429
1968,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$2000,In 1917 the U.S. purchased the islands of St. ...,Denmark,in 1917 the us purchased the islands of st cro...,denmark,2000,0.000000,0.200000
1969,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$2000,"To make this dish, beef is topped with pate de...",beef Wellington,to make this dish beef is topped with pate de ...,beef wellington,2000,0.500000,0.095238
1970,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$2000,"""Hefty"" nickname of the second & last atomic b...",Fat Man,hefty nickname of the second last atomic bomb...,fat man,2000,0.000000,0.083333
1915,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",$200,This play opens on the battlements of the cast...,Hamlet,this play opens on the battlements of the cast...,hamlet,200,0.000000,0.062500
1921,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",$400,"""Othello"" opens with Roderigo addressing this ...",Iago,othello opens with roderigo addressing this vi...,iago,400,0.000000,0.125000
1916,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$200,He started a book business from his home in 18...,(Charles M.) Barnes,he started a book business from his home in 18...,charles m barnes,200,0.000000,0.190476
1917,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$200,"Peter, Peter was an eater of this; he kept his...",pumpkin,peter peter was an eater of this he kept his w...,pumpkin,200,0.000000,0.000000
1945,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$400,In December 1974 this former New York governor...,Rockefeller,in december 1974 this former new york governor...,rockefeller,400,0.000000,0.214286
1961,6294,2012-01-19,Double Jeopardy!,4 N,"$2,400",It's the church festival on March 25 commemora...,the annunciation,its the church festival on march 25 commemorat...,the annunciation,2400,0.000000,0.250000
1922,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$400,In 1997 Tyco International moved to this U.K. ...,Bermuda,in 1997 tyco international moved to this uk te...,bermuda,400,0.000000,0.266667

In [50]:
question_overlap = []
terms_used = set()

jeopardy = jeopardy.sort_values("Air Date")

for i, row in jeopardy.iterrows():
        split_question = row["clean_question"].split(" ")
        split_question = [q for q in split_question if len(q) > 5]
        match_count = 0
        for word in split_question:
            if word in terms_used:
                match_count += 1
        for word in split_question:
            terms_used.add(word)
        if len(split_question) > 0:
            match_count /= len(split_question)
        question_overlap.append(match_count)
jeopardy["question_overlap"] = question_overlap

jeopardy["question_overlap"].mean()

0.6871708558735073

So on average, up to 68% of questions are "recycled" and are repeats of older questions

## Studying High Value Questions

Let's say we only want to study questions that pertain to high value questions instead of low value questions. This will help you earn more money when you're on Jeopardy.

We can actually figure out which terms correspond to high-value questions using a chi-squared test. We'll first need to narrow down the questions into two categories:

- Low value -- Any row where Value is less than 800.
- High value -- Any row where Value is greater than 800.

We'll then be able to loop through each of the terms from the last calculation, terms_used, and:

- Find the number of low value questions the word occurs in.
- Find the number of high value questions the word occurs in.
- Find the percentage of questions the word occurs in.
- Based on the percentage of questions the word occurs in, find expected counts.
- Compute the chi squared value based on the expected counts and the observed counts for high and low value questions.

We can then find the words with the biggest differences in usage between high and low value questions, by selecting the words with the highest associated chi-squared values. Doing this for all of the words would take a very long time, so we'll just do it for a small sample now.

In [55]:
def sorter(row):
    if row['clean_value'] > 800:
        value = 1
    else:
        value = 0
    return value

jeopardy['high_value'] = jeopardy.apply(sorter, axis=1)

In [59]:
jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question,question_overlap,high_value
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.000000,0.000000,0
19278,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$100,"In '61 movie, Audrey Hepburn's alternative to ...",Breakfast at Tiffany's,in 61 movie audrey hepburns alternative to bru...,breakfast at tiffanys,100,0.000000,0.000000,0
19279,10,1984-09-21,Jeopardy!,SPORTS,$100,What Gary Player plays professionailly,golf,what gary player plays professionailly,golf,100,0.000000,0.000000,0
19280,10,1984-09-21,Jeopardy!,GEOGRAPHY,$200,Dutch is still an official language in what is...,Dutch Guiana,dutch is still an official language in what is...,dutch guiana,200,0.500000,0.000000,0
19286,10,1984-09-21,Jeopardy!,DOUBLE TALK,$300,Adopted baby of Barney & Betty Rubble,Bamm-Bamm,adopted baby of barney betty rubble,bammbamm,300,0.000000,0.000000,0
19285,10,1984-09-21,Jeopardy!,GEOGRAPHY,$300,"8th most populous country in the world, this ""...",Bangladesh,8th most populous country in the world this be...,bangladesh,300,0.000000,0.000000,0
19324,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$1000,"In court, he'd always make mincemeat of Hamilt...",Perry Mason,in court hed always make mincemeat of hamilton...,perry mason,1000,0.000000,0.000000,1
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.000000,0.000000,0
19308,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$400,Seaside resort that has a monopoly on East Coa...,"Atlantic City, New Jersey",seaside resort that has a monopoly on east coa...,atlantic city new jersey,400,0.000000,0.000000,0
19309,10,1984-09-21,Double Jeopardy!,LITERATURE,$400,"He wrote ""The 3 Musketeers""; his son wrote ""Ca...",(Alexandre) Dumas,he wrote the 3 musketeers his son wrote camille,alexandre dumas,400,0.000000,0.000000,0
19310,10,1984-09-21,Double Jeopardy!,HOMONYMS,$400,Near or a purchase,by (buy),near or a purchase,by buy,400,0.000000,0.000000,0
19311,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$400,He went from the Ponderosa to the prairie,Michael Landon,he went from the ponderosa to the prairie,michael landon,400,0.000000,0.000000,0
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,0.000000,0.000000,0
19313,10,1984-09-21,Double Jeopardy!,LITERATURE,$600,Where you can't go again in Thomas Wolfe title,home,where you cant go again in thomas wolfe title,home,600,0.000000,0.000000,0
19314,10,1984-09-21,Double Jeopardy!,HOMONYMS,$600,"A fixed look, or Ginger Rogers' partner",a stare (Astaire),a fixed look or ginger rogers partner,a stare astaire,600,0.333333,0.000000,0
19315,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$600,"In 1970 he had a ""Goodtime Hour""",Glen Campbell,in 1970 he had a goodtime hour,glen campbell,600,0.000000,0.000000,0
19316,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$800,A thrilling destination for tight-rope walkers...,Niagara Falls,a thrilling destination for tightrope walkers ...,niagara falls,800,0.000000,0.000000,0
19317,10,1984-09-21,Double Jeopardy!,LITERATURE,$800,Irving's bird-like hero chased by the Headless...,Ichabod Crane,irvings birdlike hero chased by the headless h...,ichabod crane,800,0.000000,0.000000,0
19318,10,1984-09-21,Double Jeopardy!,HOMONYMS,"$1,000",Didn't see the fog,missed (mist),didnt see the fog,missed mist,1000,0.000000,0.000000,1
19319,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$800,"Jackie Gleason show that rejected titles ""The ...",The Honeymooners,jackie gleason show that rejected titles the l...,the honeymooners,800,0.000000,0.000000,0
19320,10,1984-09-21,Double Jeopardy!,1789,$1000,"Now totaling over $1 trillion, it began 11 day...",the national debt,now totaling over 1 trillion it began 11 days ...,the national debt,1000,0.000000,0.000000,1
19321,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$1000,Tourists know this Catholic mission as Davy Cr...,the Alamo,tourists know this catholic mission as davy cr...,the alamo,1000,0.000000,0.000000,1
19322,10,1984-09-21,Double Jeopardy!,LITERATURE,$1000,Shaw's scorched saint,St. Joan of Arc,shaws scorched saint,st joan of arc,1000,0.000000,0.000000,1
19323,10,1984-09-21,Double Jeopardy!,HOMONYMS,$1000,Where ships dock or what a jury consists of,piers (peers),where ships dock or what a jury consists of,piers peers,1000,0.000000,0.000000,1
19300,10,1984-09-21,Jeopardy!,SPORTS,$500,"Boxer whose life was portrayed in ""Somebody Up...",Rocky Graziano,boxer whose life was portrayed in somebody up ...,rocky graziano,500,0.000000,0.000000,0
19277,10,1984-09-21,Jeopardy!,SHIPS,$100,"""Unsinkable"" for most of its maiden voyage in ...",the Titanic,unsinkable for most of its maiden voyage in 1912,the titanic,100,0.000000,0.000000,0
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this ...,the grand canyon,200,0.000000,0.500000,0
19297,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$500,"2nd generation pop singer, he's sung on every ...",Jack Jones,2nd generation pop singer hes sung on every lo...,jack jones,500,0.000000,0.333333,0
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.000000,0.000000,0
19305,10,1984-09-21,Double Jeopardy!,HOMONYMS,$200,Hindu hierarchy or a play's actors,a caste (cast),hindu hierarchy or a plays actors,a caste cast,200,0.333333,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$1600,The second word in the French name of this bon...,filet mignon,the second word in the french name of this bon...,filet mignon,1600,0.000000,1.000000,1
1961,6294,2012-01-19,Double Jeopardy!,4 N,"$2,400",It's the church festival on March 25 commemora...,the annunciation,its the church festival on march 25 commemorat...,the annunciation,2400,0.000000,1.000000,1
1958,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$1200,"Today, this Japanese car company makes the gal...",Mitsubishi,today this japanese car company makes the gala...,mitsubishi,1200,0.000000,0.800000,1
1957,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$1200,A New York steak is also known as this alliter...,strip steak,a new york steak is also known as this alliter...,strip steak,1200,0.500000,1.000000,1
1956,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,"$1,800",This political party founded around 1789 stood...,the Federalists,this political party founded around 1789 stood...,the federalists,1800,0.000000,1.000000,1
1959,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$1200,"Relative to the size of the bird, this flightl...",the kiwi,relative to the size of the bird this flightle...,the kiwi,1200,0.000000,1.000000,1
1934,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$800,In 1851 this company started using a logo with...,Proctor & Gamble,in 1851 this company started using a logo with...,proctor gamble,800,0.000000,1.000000,0
1919,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$200,"This '60s ""Nights in White Satin"" band has ano...",Moody Blues,this 60s nights in white satin band has anothe...,moody blues,200,0.000000,1.000000,0
1936,6294,2012-01-19,Jeopardy!,INLETS,$800,"This Chilean city whose name means ""valley of ...",Valparaiso,this chilean city whose name means valley of p...,valparaiso,800,0.000000,1.000000,0
1940,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$1000,In 1927 this brand name first appeared on a Se...,Kenmore,in 1927 this brand name first appeared on a se...,kenmore,1000,0.000000,1.000000,1
1937,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$800,"In the '90s it was ""Enter Sandman"" with this g...",Metallica,in the 90s it was enter sandman with this group,metallica,800,0.000000,1.000000,0
1938,6294,2012-01-19,Jeopardy!,FOREIGN,$800,Tredici is Italian for this symbol of bad luck,thirteen,tredici is italian for this symbol of bad luck,thirteen,800,0.000000,0.666667,0
1939,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",$1000,This play opens most dramatically with thunder...,The Tempest,this play opens most dramatically with thunder...,the tempest,1000,0.000000,0.666667,1
1918,6294,2012-01-19,Jeopardy!,INLETS,$200,This largest Alaskan city lies at the head of ...,Anchorage,this largest alaskan city lies at the head of ...,anchorage,200,0.000000,1.000000,0
1962,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$1600,His foes said that in 1877 he agreed to withdr...,(Rutherford B.) Hayes,his foes said that in 1877 he agreed to withdr...,rutherford b hayes,1600,0.000000,1.000000,1
1974,6294,2012-01-19,Final Jeopardy!,SPORTS & THE MOVIES,None,"When asked for a home address in ""The Blues Br...",Wrigley Field,when asked for a home address in the blues bro...,wrigley field,0,0.000000,1.000000,0
1932,6294,2012-01-19,Jeopardy!,FOREIGN,$600,"If Popeye spoke Hebrew he'd ask for tered, this",spinach,if popeye spoke hebrew hed ask for tered this,spinach,600,0.000000,1.000000,0
1944,6294,2012-01-19,Jeopardy!,FOREIGN,$1000,"In German, berg is this topographical feature ...",a mountain,in german berg is this topographical feature o...,a mountain,1000,0.500000,0.666667,1
1946,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$400,"If you can't stand the heat, there's always th...",steak tartare,if you cant stand the heat theres always this ...,steak tartare,400,0.000000,0.833333,0
1947,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$400,The British A22 Mark IV tank carried a 75-mill...,Churchill,the british a22 mark iv tank carried a 75milli...,churchill,400,0.000000,0.750000,0
1948,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$400,"Able to lift 850 times its own weight, the str...",beetle,able to lift 850 times its own weight the stro...,beetle,400,0.000000,0.800000,0
1949,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$400,Blair Underwood as President Elias Martinez,The Event,blair underwood as president elias martinez,the event,400,0.000000,1.000000,0
1950,6294,2012-01-19,Double Jeopardy!,4 N,$400,"Number of ""beers on the wall"" at the beginning...",ninety-nine,number of beers on the wall at the beginning o...,ninetynine,400,0.000000,1.000000,0
1951,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$800,In 1951 he told a joint session of congress th...,(Douglas) McArthur,in 1951 he told a joint session of congress th...,douglas mcarthur,800,0.000000,1.000000,0
1952,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$800,A New England boiled dinner is traditionally m...,corned beef,a new england boiled dinner is traditionally m...,corned beef,800,0.000000,1.000000,0
1953,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$800,"Ships in the U.S. Navy's Casablanca class of ""...",aircraft carriers,ships in the us navys casablanca class of esco...,aircraft carriers,800,0.000000,1.000000,0
1954,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$800,Dennis Haysbert & D.B. Woodside as David & Way...,24,dennis haysbert db woodside as david wayne p...,24,800,0.000000,0.600000,0
1971,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$2000,The April 2009 issue of Science magazine repor...,their genome,the april 2009 issue of science magazine repor...,their genome,2000,0.000000,1.000000,1
1941,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$1000,"""Here we go round"" this bush ""on a cold and fr...",the mulberry bush,here we go round this bush on a cold and frost...,the mulberry bush,1000,0.500000,0.500000,1
1922,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$400,In 1997 Tyco International moved to this U.K. ...,Bermuda,in 1997 tyco international moved to this uk te...,bermuda,400,0.000000,1.000000,0

In [63]:
#Function that narrows the word into high value and low value based on it's count in all of the rows
def word_value(word):
    low_count = 0
    high_count = 0
    for index, row in jeopardy.iterrows():
        if term in row["clean_question"].split(" "):
            if row["high_value"] == 1:
                high_count += 1
            else:
                low_count += 1
    return high_count, low_count

#Randomly pick ten elements of terms_used and append them to a list called comparison_terms.
comparison_terms = []
for i in range(10):
    comparison_terms.append(random.choice(list(terms_used)))
    
observed_expected = []
for term in comparison_terms:
    observed_expected.append(word_value(word))
    
observed_expected

[(1, 0),
 (0, 1),
 (1, 0),
 (0, 2),
 (2, 8),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 2),
 (7, 9)]

Now that we've found the observed counts for a few terms, we can compute the expected counts and the chi-squared value.

In [73]:
high_value_count = len(jeopardy[jeopardy['high_value']==1]) #Find the number of rows in jeopardy where high_value is 1
low_value_count = len(jeopardy[jeopardy['high_value']==0]) #Find the number of rows in jeopardy where high_value is 0

In [77]:
chi_squared = []
for items in observed_expected: #Loop through each list in observed_expected
    total = items[0] + items[1] #Add up both items in the list (high and low counts) to get the total count
    total_prop = total/len(jeopardy) #Divide total by the number of rows in jeopardy to get the proportion across the dataset
    expected_high = total_prop*high_value_count
    expected_low = total_prop*low_value_count
    
    observed = np.array([items[0], items[1]])
    expected = np.array([expected_high, expected_low])
    chi_squared.append(chisquare(observed, expected))
    
chi_squared

[Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.803925692253768, pvalue=0.3699222378079571),
 Power_divergenceResult(statistic=0.36767906209032747, pvalue=0.5442721040962595),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.03188116723440362, pvalue=0.8582887163235293),
 Power_divergenceResult(statistic=1.7788002674291046, pvalue=0.18229671571722328)]

None of the terms had a significant difference in usage between high value and low value rows. Additionally, the frequencies were all lower than 5, so the chi-squared test isn't as valid. It would be better to run this test with only terms that have higher frequencies.

## Next Steps

Here are some potential next steps:

- Find a better way to eliminate non-informative words than just removing words that are less than 6 characters long. Some ideas:
    - Manually create a list of words to remove, like the, than, etc.
    - Find a list of stopwords to remove.
    - Remove words that occur in more than a certain percentage (like 5%) of questions.
- Perform the chi-squared test across more terms to see what terms have larger differences. This is hard to do currently because the code is slow, but here are some ideas:
    - Use the apply method to make the code that calculates frequencies more efficient.
    - Only select terms that have high frequencies across the dataset, and ignore the others.
- Look more into the Category column and see if any interesting analysis can be done with it. Some ideas:
    - See which categories appear the most often.
    - Find the probability of each category appearing in each round.
- Use the whole Jeopardy dataset instead of the subset we used in this project.
- Use phrases instead of single words when seeing if there's overlap between questions. Single words don't capture the whole context of the question well.